body {
    font-family: Arial;
    background-color: #f0f0f0;
    padding: 20px;
   }
   h1 {
    color: #333;
   }
   ul li {
    margin-bottom: 10px;
   }
   .centro {
    display: flex;
    align-items: center;
    flex-direction: column;
}